@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Waterfall&display=swap");

:root {
  --mainbg-color: #f9f2e7;
  --txt-field-color: #333;
  --heading-color: #6b4f4f;
  --main-btn-color: #1b5b65;
}

/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 80px 20px 0px;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form .form-control textarea {
  width: 100%;
  padding: 4px;
  height: 125px;
  border: #f5f5f5 1px solid;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 30px;
  border: #f5f5f5 1px solid;
}

.callback-form textarea:focus {
  outline-color: var(--txt-field-color);
}

.callback-form input:focus {
  outline-color: var(--txt-field-color);
}

.callback-form .btn {
  /* padding: auto;
  margin-top: 15px;
  height: 40px; */
  cursor: pointer;
  padding: 10px 25px;
  color: #f9f2e7;
  background-color: var(--main-btn-color);
  border: none;
  border-radius: 5px;
  float: right;
}

/* Contact */

.main-bg {
  background-color: var(--mainbg-color);
}

.contact {
  padding-top: 5rem;
  margin-top: -3rem;
  background-color: var(--mainbg-color);
}

.map-wrapper {
  padding: 1rem;
  /* justify-content: right;
  align-items: right;
  text-align: right; */
}

.contact-map img {
  margin-top: 2rem;
  padding-right: 20px;
  /* box-shadow: 0 0 10px 0 rgb(100, 100, 100); */
  width: 100%;
  max-width: 800px;
  height: auto;
}

.contactHead h1 {
  font-weight: 300;
  line-height: 1;
  font-size: 50px;
}

.contact.flex-columns h2 {
  color: var(--heading-color);
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.contact-line {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: none;
  height: 1px;
  background-color: #333;
}

.contact-header {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 100px;
  background: rgba(45, 20, 0, 0.5);
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
}

.contact-header::before {
  content: "";
  background: url(/images/contact-bg.JPG) no-repeat center center/cover;
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
  opacity: 0.9;
}

.contact-brush {
  margin-top: -100px;
  overflow: hidden;
}

.column-2 h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 800px) {
  .callback-form {
    padding: 20px 0px;
  }

  .contact-header {
    padding: 0px;
    justify-content: center;
  }

  .contact.flex-columns h2 {
    text-align: center;
  }

  .contact.flex-columns p {
    text-align: justify;
  }

  .contact.flex-columns i {
    display: inline-block;
    width: 100%;
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
  }

  .contact-map img {
    padding-right: 0px;
  }
}

/* About */

.about-header {
  background: url(/images/about-bg.png) no-repeat center center/cover;
  opacity: 90%;
  width: 100%;
  height: 110vh;
  position: relative;
}

.about-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 20, 0, 0.25);
}

.margin-line {
  width: 100%;
  height: 20px;
  background-color: var(--mainbg-color);
  position: absolute;
  top: 50%;
}

.about-container {
  width: 50%;
  height: 50%;
  background-color: var(--mainbg-color);
  position: absolute;
  bottom: 0;
  padding: 30px;
}

.about-container h1 {
  font-family: "Cinzel";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 75px;
  line-height: 55px;
}

.about-container h2 {
  margin-bottom: 2rem;
  margin-left: 5rem;
  font-family: "Waterfall", cursive;
  color: #1b5b65;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 60px;
  line-height: 55px;
}

.about-content p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-size: 16px;
  text-align: justify;
}

.flex-columns-a.flex-reverse .row-a {
  flex-direction: row-reverse;
  margin-bottom: 100px;
}

.flex-columns-a .row-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns-a .column-a {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns-a .column-a .column-1a,
.flex-columns-a .column-a .column-2a {
  height: 100%;
}

.flex-columns-a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns-a .column-2a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns-a h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns-a h4 {
  margin-bottom: 10px;
}

.flex-columns-a p {
  margin: 20px 0;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 30px;
    width: 100%;
  }

  .about-container h1,
  .about-container h2 {
    text-align: center;
    margin: 0;
  }

  .about-content p {
    padding-top: 40px;
  }
}
