/* text colors, buttons, flex items, columns, section header, flex grid  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap");

* {
  margin: 0px;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}
.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex columns */

.small {
  width: 40%;
}

.big {
  width: 60%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* flex-basis: 100%;
  flex: 1; */
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding-left: 75px;
}

/* .flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/*navbar*/
.display-navbar {
  height: 70px;
}
.navbar-container {
  max-width: 1170px;
  margin: auto;
}
.nav-header {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #f9f2e7;
}
.nav-header.sticky {
  position: fixed;
  background-color: #f9f2e7;
  box-shadow: 0 2px 2px rgba(70, 67, 63, 0.1);
}
@keyframes header {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
  }
}
.navbar-img {
  margin-left: -100px;
  float: left;
}
.navbar-img img {
  height: 70px;
  width: auto;
  justify-self: start;
}
.nav-header .title a {
  font-size: 30px;
  display: inline-block;
  padding: 5px 0px;
  color: #6b4f4f;
  font-weight: 600;
  letter-spacing: 2px;
}
.nav-header .title a span {
  color: #6b4f4f;
}
.navbar {
  margin-right: -100px;
  float: right;
}
.navbar ul {
  list-style: none;
  padding: 15px 15px 5px 15px;
  margin: 0;
}
.navbar ul li {
  display: inline;
  padding: 0 15px;
}
.navbar ul li a {
  display: inline-block;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #483434;
  position: relative;
  text-decoration: none;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -5px;
  height: 2px;
  right: 0px;
  background-color: #1b5b65;
  width: 0;
  transition: width 0.5s ease;
}
.navbar ul li a.active::before {
  width: 100%;
}
.navbar ul li a:hover::before {
  width: 100%;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.book-btn {
  padding: 6px 15px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background: #1b5b65;
  align-items: center;
}
.book-btn a {
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}
.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover,
.bounce-in-on-hover:focus,
.bounce-in-on-hover:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  box-shadow: 0 0 8px 4px rgba(27, 91, 101, 0.25) inset, 0 0 8px 4px rgba(27, 91, 101, 0.25);
}
.toggle {
  position: absolute;
  top: 15px;
  right: 0px;
  display: none;
}
.toggle a {
  display: inline-block;
  position: relative;
  z-index: 210;
}
.toggle a span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #483434;
  margin-bottom: 8px;
  -webkit-transition: transform 0.5s ease;
}
.toggle a span:nth-child(1) {
  transform-origin: left top;
}
.toggle a span:nth-child(2) {
  transform-origin: left bottom;
}
.toggle a.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-7px);
  transform: rotate(45deg) translateY(-7px);
}
.toggle a.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(7px);
  transform: rotate(-45deg) translateY(7px);
}
.toggle a.active span:nth-child(3) {
  display: none;
}
@media (max-width: 991px) {
  .toggle {
    display: block;
    margin-top: 10px;
  }
  .navbar-img {
    margin-left: 20px;
  }
  .navbar-container {
    position: relative;
    max-width: 750px;
  }
  .nav-header {
    position: fixed;
    background-color: #f9f2e7;
    padding: 0px 20px 0px 20px;
  }
  .nav-header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #f9f2e7;
    z-index: 200;
    padding-top: 80px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .navbar ul {
    padding: 0px;
    margin-left: 30px;
  }
  .book-btn {
    margin-top: 20px;
    padding-top: -20px;
  }
  .book-btn a {
    margin-top: 0px;
  }
  .navbar.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .navbar ul li {
    display: block;
    margin: 0px 10px 0px 10px;
  }
}

/*Contact*/
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.contact-header {
  content: "";
  background: url(/images/contact-bg.JPG) no-repeat center center/cover;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* width: 100%;
  height: 50%; */
  z-index: -1;
  opacity: 0.75;
}

/*FAQs*/
.faqs-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: url(/images/faqs-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
}
.faqs-header h1,
.villas-header h1 {
  margin-left: 100px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-stroke {
  margin-top: -100px;
  overflow: hidden;
}
.faqs-txt {
  margin-top: -65px;
  background-color: #f9f2e7;
  padding: 150px;
  padding-right: 150px;
}
.accordion .accordion-item {
  border-bottom: 0.5px solid #6b4f4f;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #6b4f4f;
  font-size: 1.15rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #1b5b65;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #1b5b65;
  border: 1px solid #1b5b65;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: bold;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #1b5b65;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 14px;
  margin: 1em 0;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #6b4f4f;
  margin-right: 10px;
  border-top: none;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .faqs-header h1 {
    margin-left: 70px;
  }
  .faqs-txt {
    padding: 80px;
    padding-right: 80px;
  }
}

/*moments*/
* {
  box-sizing: border-box;
}
.bodymoments {
  background-color: #f9f2e7;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.containermoments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
  margin-top: 250px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-moments img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 200px;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

@media (max-width: 940px) {
  .containermoments {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/*view villas*/

.blog-post__title h1 {
  font-size: 5rem;
  font-family: "Abril Fatface";
  margin: 1.5rem 0 2rem;
  color: #6b4f4f;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.inclu_head {
  font-weight: bold;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b4f4f;
  font-style: italic;
}

.inclu_content {
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b4f4f;
}

.inclu_icons {
  width: 30px;
  height: 30px;
}

.inclu_right {
  float: right;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.villa_carousel {
  position: relative;
  width: 600px;
  height: 800px;
  min-width: 500px;
  margin: auto;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 700px;
  margin: auto;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-1:checked ~ .control-6,
#carousel-2:checked ~ .control-7,
#carousel-3:checked ~ .control-8,
#carousel-4:checked ~ .control-9,
#carousel-5:checked ~ .control-10 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
  color: #9dbbae;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.lightpart {
  background-color: #f9f2e7;
  padding-top: 100px;
  padding-bottom: 200px;
}

.darkpart {
  background-color: #bb9981;
  padding-top: 100px;
  padding-bottom: 100px;
  top: 50px;
}

p {
  margin-bottom: 1rem;
}
#villawrapper {
  display: flex;
  align-items: center;
  height: 50vh;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 100px;
}
.v-tabs {
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: auto;
}
.v-tab-control {
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
}
.v-tab-control:hover {
  color: white;
  background-color: #483434;
}
.v-tab-content {
  border-top: 1px solid #483434;
  padding: 1rem;
  line-height: 0;
  font-size: 12px;
}
.v-tab-panel {
  display: none;
}
/* Magic style */

#tab-1:checked ~ .v-tab-content #v-tab-panel-1 {
  display: block;
}
#tab-2:checked ~ .v-tab-content #v-tab-panel-2 {
  display: block;
}
#tab-3:checked ~ .v-tab-content #v-tab-panel-3 {
  display: block;
}

.v-tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: #9dbbae;
}

.villas-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: url(/images/villas.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
}

/*Edit Profile
/* sidebar */
.sidebar-tabs {
  padding: 80px;
  padding-left: 0px;
  padding-right: 100px;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.sidebar {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #fff;
}
.tab-title {
  margin-bottom: 0.3em;
  font-size: 18px;
  text-align: center;
}
.tab-subtitle {
  margin-bottom: 2em;
  text-align: center;
}
.sidebar .tabs-wrapper {
  display: flex;
}
.sidebar .tabs {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.material-symbols-rounded {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  margin-left: 80px;
  vertical-align: middle;
}
.label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 16px;
}
.sidebar .tabs li {
  margin: 0;
  width: 400px;
  padding: 15px 25px;
  color: #000;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
}
.sidebar .tabs li:hover {
  border-right: 3px solid #1b5b65;
  background: #faf8f6;
  color: #000;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sidebar .tabs li.tab-active {
  border-right: 5px solid #1b5b65;
  background: #faf5ee;
  color: #1b5b65;
  font-weight: bold;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tabs-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 1440px;
  width: 100%;
  z-index: 1;
  margin-left: 80px;
}
.tab-item {
  padding: 0 15px 15px 15px;
  display: none;
  margin-top: -40px;
}
.tab-accordion-title {
  display: none;
}
.tab-item h5 {
  font-size: 28px;
  color: #6b4f4f;
  font-style: bold;
}
.tab-item p {
  font-size: 0.8em;
  line-height: 1.6;
}
@media screen and (max-width: 786px) {
  .sidebar-tabs {
    padding-right: 5px;
  }
  .sidebar .tabs li {
    margin: 0;
    width: 100px;
    padding: 10px 10px;
  }
  .material-symbols-rounded {
    font-size: 30px;
    margin-left: 20px;
  }
  .label {
    font-size: 0px;
  }
  .tab-accordion-title:hover {
    background: #fff;
    color: #000;
  }
  .tab-accordion-active {
    background: #1d1c1c;
    color: #fff;
  }
  .tab-item {
    padding-top: 15px;
    border-left: 1px solid #dadada;
  }
}
.edit-container {
  max-width: 780px;
  background-color: #faf5ee;
  margin: 20px;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
}
.edit-container h5 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 16px;
  line-height: 29px;
  color: #1b5b65;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.edit-form {
  width: 100%;
  margin: 20px;
}
.edit-form .form-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit-form .form-container .col-3 label,
.edit-form .form-container .col-6 label {
  display: block;
  margin: 20px 0px 0px 0px;
  color: #000;
  font-size: 12px;
  font-weight: 100;
}
.edit-form .form-container .col-3 input,
.edit-form .form-container .col-6 input {
  margin: 10px 5px 10px 12px;
  font-size: 14px;
  padding: 4px 5px;
  border-radius: 5px;
  border: 0px solid #6b4f4f;
  width: 100%;
  background: none;
  outline: none;
}
.edit-form .form-container .col-6 {
  width: 50%;
  margin: 0 10px;
}
.edit-form .form-container .col-3 {
  width: 100%;
  margin: 0 10px;
}
.user-details {
  display: flex;
  justify-content: space-between;
}
.editprofile-btn {
  cursor: pointer;
  padding: 10px 25px;
  color: #f9f2e7;
  background-color: #1b5b65;
  border: none;
  border-radius: 5px;
}

.editprofile-btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}
@media screen and (max-width: 786px) {
  .tabs-container {
    margin-left: 0px;
  }
  .tab-item h5 {
    font-size: 20px;
  }
  .edit-container {
    margin: 10px 0px 20px 0px;
  }
  .edit-form {
    margin: 0px;
  }
  .user-details h5 {
    font-size: 15px;
  }
  .user-details .editprofile-btn {
    padding: 7px 12px;
    font-size: 12px;
  }
}

/* Customer Satisfaction*/
.cs_icons {
  width: 3vw;
  height: 3vw;
  margin-top: 8%;
  margin-right: 1vw;
  filter: grayscale(100%);
}
.sad {
  margin-left: 25vw;
}

.cs_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.line {
  width: 55vw;
  border-bottom: 1px solid black;
  position: absolute;
  opacity: 20%;
}

.lupper {
  margin: 5% 25% 5% 5%;
}

.llower {
  margin: 2% 25% 5% 5%;
}

.cs_text p {
  font-size: 15px;
  margin-top: 50px;
  color: #6b4f4f;
  margin-left: 9vw;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.fb_tfield {
  width: 100%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .fb_tfield {
    width: 100%;
    margin-top: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 65px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b5b65;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b5b65;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cs_text-hide {
  font-size: 15px !important;
  margin-top: 60px;
  color: #6b4f4f;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}

.fb_submit {
  cursor: pointer;
  padding: 10px 25px;
  color: #f9f2e7;
  background-color: #1b5b65;
  border: none;
  border-radius: 5px;
  float: right;
}

/**new login reg **/

.log-body {
  background-image: url("/images/Login.png");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.log-container .log-forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.log-container .logform {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.log-container.active .r-login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.log-container .r-signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.log-container.active .r-signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.log-container.active .log-forms {
  height: 650px;
}
.log-container .logform .log-title {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  font-family: "Abril Fatface";
  color: #483434;
}

.logform .log-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #bb9981;
  border-radius: 25px;
}

.logform .log-input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.log-input-field .log-input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.log-input-field input:is(:focus, :valid) {
  border-bottom-color: #483434;
}

.log-input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.log-input-field .log-input:is(:focus, :valid) ~ i {
  color: #483434;
}

.log-input-field i.icon {
  left: 0;
}
.log-input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.logform .log-checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.log-checkbox-text .log-checkbox-content {
  display: flex;
  align-items: center;
}

.log-checkbox-content .logcheck {
  margin: 0 8px -2px 4px;
  accent-color: #483434;
}

.logform .text {
  color: #333;
  font-size: 14px;
}

.logform a.text {
  color: #483434;
  text-decoration: none;
}
.logform a:hover {
  text-decoration: underline;
}

.logform {
  margin-top: 35px;
}

.logform .log-input-btn {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #6b4f4f;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 70%;
}

.log-input-btn:hover {
  background-color: #483434;
}

.logform .login-signup {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.log-cancel {
  background-color: #bb9981 !important;
}

.log-cancel:hover {
  background-color: #a18069 !important;
}

.logform .log-cancel-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 0px;
}
