/* text colors, buttons, flex items, columns, section header, flex grid  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

:root {
  --mainbg-color: #f9f2e7;
  --txt-field-color: #333;
  --heading-color: #6b4f4f;
  --main-btn-color: #1b5b65;
}

* {
  margin: 0px;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}
.btn-light,
.bg-light {
  /* background: #f4f4f4; */
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex columns */

.small {
  width: 40%;
}

.big {
  width: 60%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* flex-basis: 100%;
  flex: 1; */
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding-left: 75px;
}

/* .flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0px 30px 30px;
}

.flex-columns h2 {
  color: var(--heading-color);
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/*navbar*/
.display-navbar {
  height: 70px;
}
.navbar-container {
  max-width: 1170px;
  margin: auto;
}
.nav-header {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #f9f2e7;
}
.nav-header.sticky {
  position: fixed;
  background-color: #f9f2e7;
  box-shadow: 0 2px 2px rgba(70, 67, 63, 0.1);
}
@keyframes header {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
  }
}
.navbar-img {
  margin-left: -100px;
  float: left;
}
.navbar-img img {
  height: 70px;
  width: auto;
  justify-self: start;
}
.nav-header .title a {
  font-size: 30px;
  display: inline-block;
  padding: 5px 0px;
  color: #6b4f4f;
  font-weight: 600;
  letter-spacing: 2px;
}
.nav-header .title a span {
  color: #6b4f4f;
}
.navbar {
  margin-right: -100px;
  float: right;
}
.navbar ul {
  list-style: none;
  padding: 15px 15px 5px 15px;
  margin: 0;
}
.navbar ul li {
  display: inline;
  padding: 0 15px;
}
.navbar ul li a {
  display: inline-block;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #483434;
  position: relative;
  text-decoration: none;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -5px;
  height: 2px;
  right: 0px;
  background-color: #1b5b65;
  width: 0;
  transition: width 0.5s ease;
}
.navbar ul li a.active::before {
  width: 100%;
}
.navbar ul li a:hover::before {
  width: 100%;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.book-btn {
  padding: 6px 15px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background: #1b5b65;
  align-items: center;
}
.book-btn a {
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}
.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover,
.bounce-in-on-hover:focus,
.bounce-in-on-hover:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  box-shadow: 0 0 8px 4px rgba(27, 91, 101, 0.25) inset, 0 0 8px 4px rgba(27, 91, 101, 0.25);
}
.toggle {
  position: absolute;
  top: 15px;
  right: 0px;
  display: none;
}
.toggle a {
  display: inline-block;
  position: relative;
  z-index: 210;
}
.toggle a span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #483434;
  margin-bottom: 8px;
  -webkit-transition: transform 0.5s ease;
}
.toggle a span:nth-child(1) {
  transform-origin: left top;
}
.toggle a span:nth-child(2) {
  transform-origin: left bottom;
}
.toggle a.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-7px);
  transform: rotate(45deg) translateY(-7px);
}
.toggle a.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(7px);
  transform: rotate(-45deg) translateY(7px);
}
.toggle a.active span:nth-child(3) {
  display: none;
}
@media (max-width: 991px) {
  .toggle {
    display: block;
    margin-top: 10px;
  }
  .navbar-img {
    margin-left: 20px;
  }
  .navbar-container {
    position: relative;
    max-width: 750px;
  }
  .nav-header {
    position: fixed;
    background-color: #f9f2e7;
    padding: 0px 20px 0px 20px;
  }
  .nav-header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #f9f2e7;
    z-index: 200;
    padding-top: 80px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .navbar ul {
    padding: 0px;
    margin-left: 30px;
  }
  .book-btn {
    margin-top: 20px;
    padding-top: -20px;
  }
  .book-btn a {
    margin-top: 0px;
  }
  .navbar.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .navbar ul li {
    display: block;
    margin: 0px 10px 0px 10px;
  }
}

/*Contact*/

/* Flex items */
.flex-items {
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.flex-items > div {
  padding: 30px 0px 30px 30px;
  /* max-width: 50%; */
  flex-basis: calc(50% - 45px);
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .flex-items {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*FAQs*/
.faqs-header {
  display: flex;
  align-items: center;
  min-height: 80vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(0, 45, 100, 0.3);
}

/* .faqs-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: url(/images/faqs-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
} */

.faqs-header::before {
  content: "";
  background: url(/images/faqs-bg.jpg) no-repeat center center/cover;
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
  opacity: 0.9;
}

.faqs-header h1,
.villas-header h1,
.moments-header h1 {
  margin-left: 100px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-stroke {
  margin-top: -100px;
  overflow: hidden;
}
.faqs-txt {
  margin-top: -65px;
  background-color: #f9f2e7;
  padding: 150px;
  padding-right: 150px;
}
.accordion .accordion-item {
  border-bottom: 0.5px solid #6b4f4f;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #6b4f4f;
  font-size: 1.15rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #1b5b65;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #1b5b65;
  border: 1px solid #1b5b65;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: bold;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #1b5b65;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 14px;
  margin: 1em 0;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #6b4f4f;
  margin-right: 10px;
  border-top: none;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .faqs-header h1 {
    margin-left: 70px;
  }
  .faqs-txt {
    padding: 80px;
    padding-right: 80px;
  }
}

/*moments*/
* {
  box-sizing: border-box;
}
.moments-header {
  display: flex;
  align-items: center;
  min-height: 50vh;
}
.moments-header::before {
  content: "";
  background: url(/images/momentheader.png) no-repeat center center/cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
}
.bodymoments {
  background-color: #f9f2e7;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  padding-bottom: 100px;
}
.containermoments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
  margin-top: 150px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-moments img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 200px;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

@media (max-width: 940px) {
  .containermoments {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/*view villas*/

.blog-post__title h1 {
  font-size: 5rem;
  font-family: "Abril Fatface";
  margin: 1.5rem 0 2rem;
  color: #6b4f4f;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.inclu_head {
  font-weight: bold;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b4f4f;
  font-style: italic;
}

.inclu_content {
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b4f4f;
}

.inclu_icons {
  width: 30px;
  height: 30px;
}

.inclu_right {
  float: right;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.villa_carousel {
  position: relative;
  width: 600px;
  height: 800px;
  min-width: 500px;
  margin: auto;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 700px;
  margin: auto;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-1:checked ~ .control-6,
#carousel-2:checked ~ .control-7,
#carousel-3:checked ~ .control-8,
#carousel-4:checked ~ .control-9,
#carousel-5:checked ~ .control-10 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
  color: #9dbbae;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

p {
  margin-bottom: 1rem;
}
#villawrapper {
  display: flex;
  align-items: center;
  height: 50vh;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 100px;
}
.v-tabs {
  width: 600px;
  height: 500px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: auto;
}
.v-tab-control {
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
  border-style: outset;
}

.v-tab-control:hover {
  color: white;
  background-color: #483434;
}
.v-tab-content,
.v-tab-content-2,
.v-tab-content-3,
.v-tab-content-4,
.v-tab-content-5,
.v-tab-content-6,
.v-tab-content-7,
.v-tab-content-8,
.v-tab-content-9,
.v-tab-content-10,
.v-tab-content-11,
.v-tab-content-12,
.v-tab-content-13,
.v-tab-content-14,
.v-tab-content-15 {
  border-top: 1px solid #483434;
  padding: 1rem;
  line-height: 10px;
  font-size: 12px;
}
.v-tab-panel,
.v-tab-panel--2,
.v-tab-panel--3,
.v-tab-panel--4,
.v-tab-panel--5 {
  display: none;
}

/* first row */
#tab-1:checked ~ .v-tab-content #v-tab-panel-1 {
  display: block;
}
#tab-2:checked ~ .v-tab-content #v-tab-panel-2 {
  display: block;
}
#tab-3:checked ~ .v-tab-content #v-tab-panel-3 {
  display: block;
}
/* second row */
#tab-4:checked ~ .v-tab-content-2 #v-tab-panel-4 {
  display: block;
}
#tab-5:checked ~ .v-tab-content-2 #v-tab-panel-5 {
  display: block;
}
#tab-6:checked ~ .v-tab-content-2 #v-tab-panel-6 {
  display: block;
}
/* third row */
#tab-7:checked ~ .v-tab-content-3 #v-tab-panel-7 {
  display: block;
}
#tab-8:checked ~ .v-tab-content-3 #v-tab-panel-8 {
  display: block;
}
#tab-9:checked ~ .v-tab-content-3 #v-tab-panel-9 {
  display: block;
}
/* fourth row */
#tab-10:checked ~ .v-tab-content-4 #v-tab-panel-10 {
  display: block;
}
#tab-11:checked ~ .v-tab-content-4 #v-tab-panel-11 {
  display: block;
}
#tab-12:checked ~ .v-tab-content-4 #v-tab-panel-12 {
  display: block;
}
/* fifth row */
#tab-13:checked ~ .v-tab-content-5 #v-tab-panel-13 {
  display: block;
}
#tab-14:checked ~ .v-tab-content-5 #v-tab-panel-14 {
  display: block;
}
#tab-15:checked ~ .v-tab-content-5 #v-tab-panel-15 {
  display: block;
}

.v-tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: #9dbbae;
}

.v-tag1 {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
  background-color: #ba9ca9;
}

.villas-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(
      90deg,
      rgba(72, 52, 52, 0.8102591378348214) 0%,
      rgba(72, 52, 52, 0.44611347957151615) 31%,
      rgba(72, 52, 52, 0.8074580173866421) 100%
    ),
    url(/images/villas.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
}

/*Edit Profile
/* sidebar */
.sidebar-tabs {
  padding: 80px;
  padding-left: 0px;
  padding-right: 100px;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.sidebar {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #fff;
}
.tab-title {
  margin-bottom: 0.3em;
  font-size: 18px;
  text-align: center;
}
.tab-subtitle {
  margin-bottom: 2em;
  text-align: center;
}
.sidebar .tabs-wrapper {
  display: flex;
}
.sidebar .tabs {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.material-symbols-rounded {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  margin-left: 80px;
  vertical-align: middle;
}
.label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 16px;
}
.sidebar .tabs li {
  margin: 0;
  width: 400px;
  padding: 15px 25px;
  color: #000;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
}
.sidebar .tabs li:hover {
  border-right: 3px solid #1b5b65;
  background: #faf8f6;
  color: #000;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sidebar .tabs li.tab-active {
  border-right: 5px solid #1b5b65;
  background: #faf5ee;
  color: #1b5b65;
  font-weight: bold;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tabs-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 1440px;
  width: 100%;
  z-index: 1;
  margin-left: 80px;
}
.tab-item {
  padding: 0 15px 15px 15px;
  display: none;
  margin-top: -40px;
}
.tab-accordion-title {
  display: none;
}
.tab-item h5 {
  font-size: 28px;
  color: #6b4f4f;
  font-style: bold;
}
.tab-item p {
  font-size: 0.8em;
  line-height: 1.6;
}
@media screen and (max-width: 786px) {
  .sidebar-tabs {
    padding-right: 5px;
  }
  .sidebar .tabs li {
    margin: 0;
    width: 100px;
    padding: 10px 10px;
  }
  .material-symbols-rounded {
    font-size: 30px;
    margin-left: 20px;
  }
  .label {
    font-size: 0px;
  }
  .tab-accordion-title:hover {
    background: #fff;
    color: #000;
  }
  .tab-accordion-active {
    background: #1d1c1c;
    color: #fff;
  }
  .tab-item {
    padding-top: 15px;
    border-left: 1px solid #dadada;
  }
}
.edit-container {
  max-width: 780px;
  background-color: #faf5ee;
  margin: 20px;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
}
.edit-container h5 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 16px;
  line-height: 29px;
  color: #1b5b65;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.edit-form {
  width: 100%;
  margin: 20px;
}
.edit-form .form-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit-form .form-container .col-3 label,
.edit-form .form-container .col-6 label {
  display: block;
  margin: 20px 0px 0px 0px;
  color: #000;
  font-size: 12px;
  font-weight: 100;
}
.edit-form .form-container .col-3 input,
.edit-form .form-container .col-6 input {
  margin: 10px 5px 10px 12px;
  font-size: 14px;
  padding: 4px 5px;
  border-radius: 5px;
  border: 0px solid #6b4f4f;
  width: 100%;
  background: none;
  outline: none;
}
.edit-form .form-container .col-6 {
  width: 50%;
  margin: 0 10px;
}
.edit-form .form-container .col-3 {
  width: 100%;
  margin: 0 10px;
}
.user-details {
  display: flex;
  justify-content: space-between;
}
.editprofile-btn {
  cursor: pointer;
  padding: 10px 25px;
  color: #f9f2e7;
  background-color: #1b5b65;
  border: none;
  border-radius: 5px;
}

.editprofile-btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}
@media screen and (max-width: 786px) {
  .tabs-container {
    margin-left: 0px;
  }
  .tab-item h5 {
    font-size: 20px;
  }
  .edit-container {
    margin: 10px 0px 20px 0px;
  }
  .edit-form {
    margin: 0px;
  }
  .user-details h5 {
    font-size: 15px;
  }
  .user-details .editprofile-btn {
    padding: 7px 12px;
    font-size: 12px;
  }
}

/* Customer Satisfaction*/
.cs_icons {
  width: 3vw;
  height: 3vw;
  margin-top: 8%;
  margin-right: 1vw;
  filter: grayscale(100%);
}
.sad {
  margin-left: 25vw;
}

.cs_icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.line {
  width: 55vw;
  border-bottom: 1px solid black;
  position: absolute;
  opacity: 20%;
}

.lupper {
  margin: 5% 25% 5% 5%;
}

.llower {
  margin: 2% 25% 5% 5%;
}

.cs_text p {
  font-size: 15px;
  margin-top: 50px;
  color: #6b4f4f;
  margin-left: 9vw;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.fb_tfield {
  width: 100%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .fb_tfield {
    width: 100%;
    margin-top: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 65px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b5b65;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b5b65;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cs_text-hide {
  font-size: 15px !important;
  margin-top: 60px;
  color: #6b4f4f;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}

.fb_submit {
  cursor: pointer;
  padding: 10px 25px;
  color: #f9f2e7;
  background-color: #1b5b65;
  border: none;
  border-radius: 5px;
  float: right;
}

/**new login reg **/

.log-body {
  background-image: url("/images/Login.png");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.log-container .log-forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.log-container .logform {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.log-container.active .r-login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.log-container .r-signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.log-container.active .r-signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.log-container.active .log-forms {
  height: 650px;
}
.log-container .logform .log-title {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  font-family: "Abril Fatface";
  color: #483434;
}

.logform .log-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #bb9981;
  border-radius: 25px;
}

.logform .log-input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.log-input-field .log-input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.log-input-field input:is(:focus, :valid) {
  border-bottom-color: #483434;
}

.log-input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.log-input-field .log-input:is(:focus, :valid) ~ i {
  color: #483434;
}

.log-input-field i.icon {
  left: 0;
}
.log-input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.logform .log-checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.log-checkbox-text .log-checkbox-content {
  display: flex;
  align-items: center;
}

.log-checkbox-content .logcheck {
  margin: 0 8px -2px 4px;
  accent-color: #483434;
}

.logform .text {
  color: #333;
  font-size: 14px;
}

.logform a.text {
  color: #483434;
  text-decoration: none;
}
.logform a:hover {
  text-decoration: underline;
}

.logform {
  margin-top: 35px;
}

.logform .log-input-btn {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #6b4f4f;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 70%;
}

.log-input-btn:hover {
  background-color: #483434;
}

.logform .login-signup {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.log-cancel {
  background-color: #bb9981 !important;
}

.log-cancel:hover {
  background-color: #a18069 !important;
}

.logform .log-cancel-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 0px;
}

/* view villa new */

.villa-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.v-img {
  width: 100%;
  display: block;
}

/** title */
.v-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: #f9f2e7;
  border-bottom: 5px solid #6b4f4f;
  width: 235px;
  margin: 15px 0;
}

.sec-width {
  width: 85vw;
  margin: 0 auto !important;
}

/* room */

.villa-rooms {
  margin: 40px 0;
}
.villa-room {
  margin: 45px 0;
  padding-bottom: 25px;
  background: #dcd2c9;
  color: #483434;
}
.villa-room-text {
  padding: 5px 20px 70px 20px;
  line-height: 20px;
}
.villa-room-text h3 {
  font-size: 50px;
  margin: 5% 0% 5% 2.5%;
  margin-top: 5%;
  line-height: 35px;
}
.villa-room-text ul {
  list-style-type: none;
  margin: 15px 0;
}
.villa-room-text ul li {
  line-height: 25px;
}
.villa-room-text ul li i {
  color: #483434;
  margin-right: 10px;
}
.villa-room-image {
  overflow: hidden;
}
.villa-room-image .v-img {
  transition: all 0.7s ease;
}
.villa-room-image:hover .v-img {
  transform: scale(1.1);
}
@media (min-width: 900px) {
  .villa-rooms-container {
    display: flex;
    flex-wrap: wrap;
  }
  .villa-room {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
  }
}
@media (min-width: 1370px) {
  .villa-rooms-container {
    flex-direction: column;
  }
  .villa-room {
    display: flex;
    padding-bottom: 0;
    margin: 5px 0;
  }
  .villa-room-image {
    flex: 1;
  }
  .villa-room-image .v-img {
    height: 100%;
  }
  .villa-room-text {
    flex: 1;
    line-height: 20px;
  }
  .villa-room:nth-child(even) {
    flex-direction: row-reverse;
  }
}
/*PAYMENTSUMMARY*/
.paymentsummary {
  font-family: "Montserrat";
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 3%;
}

* {
  box-sizing: border-box;
}

.rowps {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  margin-bottom: 50px;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-25,
.col-50 {
  padding: 0 16px;
}

.containerps {
  background-color: #f9f2e7;
  padding: 25px 40px 25px 40px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 0 auto;
  width: 70%;
}

label {
  margin-bottom: 10px;
  display: block;
}

span.price {
  float: right;
  color: grey;
}

.refno {
  text-align: right;
  margin-right: 250px;
}
.gcashicon {
  padding: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.payment-btn {
  background-color: #6b4f4f;
  color: white;
  padding: 12px;
  margin: 0 auto;
  border: none;
  width: 250px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
}
.payment-btn:hover {
  background-color: #483434;
}
.headtextps {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: "Cinzel";
}
hr {
  border: 0.5px solid lightgrey;
  margin-bottom: 18px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .rowps {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*Book Now*/
.book-header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(/images/faqs-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.book-header h1 {
  margin-top: -350px;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-family: "Abril Fatface";
  font-size: 58px;
  color: #f9f2e7;
  text-shadow: 2px 3px 3px #363636;
}
.checkavail-form {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f2e7;
  border-radius: 10px;
  padding: 25px 80px 25px 80px;
  margin-top: 250px;
  justify-content: center;
  font-family: "Raleway";
}
.form-item {
  display: flex;
  flex-direction: column;
}
.check-flex-item {
  flex: 2 1 5rem;
  margin: 0 0.4rem;
  margin-top: auto;
  justify-content: center;
  border-right: 1px solid #cccccc;
  margin-right: 30px;
}
.check-flex-item-m {
  flex: 1 1 5rem;
  margin: 0 0.4rem;
  margin-top: auto;
  justify-content: center;
  position: relative;
}
.check-flex-item-sm {
  flex: 0.2 0.2 1rem;
}
.search-icon button {
  outline: none;
  border: none;
  background-color: transparent;
}
.search-icon .material-symbols-rounded {
  color: #f9f2e7;
  font-weight: 700;
  font-size: 24px;
  background-color: #1b5b6b;
  padding: 10px;
  margin: 0px;
  float: right;
}
.search-icon {
  float: left;
  text-align: left;
}
.search-icon .text {
  color: #f9f2e7;
  font-weight: 700;
  width: 100%;
  font-size: 12px;
  background-color: #1b5b6b;
  padding: 10px 40px;
  margin: 0px;
  float: right;
}
.search-icon .material-symbols-rounded:hover,
.search-icon .text:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) inset;
}
.form-item input {
  padding: 0.5rem;
  border-radius: 1px;
  background-color: transparent;
  font-size: 15px;
  margin-left: 40px;
  border-width: 0 0 2px;
  border-color: #1b5b6b;
}
.guest {
  width: 80px;
}
.select-date {
  width: 150px;
}
.form-item label {
  font-size: 12px;
  color: #1b5b6b;
  font-family: "Raleway";
  font-weight: 800;
  margin-left: 40px;
  margin-bottom: 0px;
}
.form-item input:focus {
  outline: none;
  background-color: #fbfbfb;
  border-color: #6b4f4f;
}
.check-availability {
  width: 62rem;
}
.litepicker .container__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
  width: calc(var(--litepickerMonthWidth) + 10px);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100% !important;
}
.litepicker .container__days .day-item.is-start-date,
.litepicker .container__days .day-item.is-end-date {
  background-color: #1b5b6b;
}
.litepicker .container__days .day-item.is-in-range {
  background-color: #889ca1;
}
.litepicker .container__days .day-item:hover {
  box-shadow: inset 0 0 0 1px #045367;
}
.search-icon span .text {
  text-align: left;
  float: left;
}
.checkavail-form .material-symbols-outlined {
  display: flex;
  position: absolute;
  color: #6b4f4f;
  font-size: 30px;
  font-weight: 500;
}
.select-date {
  padding-right: 20px;
  background: url("/icons/down-arrow.png") no-repeat right;
  background-size: 12px;
  cursor: pointer;
}
@media (min-width: 641px) {
  span.text {
    display: none;
  }
  span.icon {
    display: inline-block;
  }
}
@media (max-width: 901px) {
  span.text {
    display: inline-block;
  }
  span.icon {
    display: none;
  }
  .search-icon {
    float: center;
    text-align: center;
    margin-left: 30px;
  }
  .form-item {
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .check-flex-item {
    justify-content: center;
    flex: 5 5 5rem;
    margin-top: 2px;
    border-right: 0px;
    margin-right: 0px;
  }
  .check-flex-item-m {
    justify-content: center;
    margin-top: 2px;
    margin-right: 0px;
    display: inline-block;
  }
  .check-flex-item-m input {
    margin-left: 40px;
  }
  .check-flex-item-sm {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .checkavail-form {
    justify-content: center;
    display: block;
  }
}
.section-stroke {
  position: relative;
  z-index: 2;
  margin-top: -80px;
}
.available-rooms {
  background-color: #f9f2e7;
  margin-top: -100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1.6%;
  line-height: 1.4;
  font-family: "Raleway";
  overflow: hidden;
  z-index: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}
.blog-card a {
  color: inherit;
}
/*.blog-card:hover .photo {
transform: scale(1) rotate(1deg);
}*/
.photo {
  position: relative;
}
.photo::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.photo:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.blog-card .room-pic {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .room-desc {
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.blog-card .room-desc h1,
.blog-card .room-desc h2 {
  font-family: "Raleway", sans-serif;
}
.blog-card .room-desc h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  color: #6b4f4f;
}
.blog-card .room-desc h2 {
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
  color: #a2a2a2;
}
.blog-card .room-desc.room-links {
  text-align: right;
}
.blog-card .room-desc .room-links {
  display: inline-block;
  position: relative;
  margin-top: 100px;
  width: 100%;
}
.room-desc .room-links .read-more {
  color: #1b5b6b;
  text-decoration: none;
  font-weight: bold;
}
.room-desc .room-links .read-more:hover {
  color: #023b4b;
}
.room-desc .room-links .book-btn {
  font-weight: 500;
}
.room-desc .room-links span {
  margin-top: -10px;
  float: right;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.room-price {
  float: right;
  margin: 0px;
  color: #6b4f4f;
}
.per-night {
  float: right;
  margin: 0px;
  color: #6b4f4f;
}
.room-desc h4 {
  font-size: 14px;
  color: #5d5d5d;
}
.room-desc i {
  font-size: 24px;
  color: #6b4f4f;
  margin-right: 10px;
  margin-left: 0px;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 1000px;
  }
  .blog-card .room-pic {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .room-desc {
    flex-basis: 60%;
    padding: 30px;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
@media (max-width: 640px) {
  .blog-card {
    width: 80%;
    margin-top: 50px;
  }
  .blog-card .room-desc .room-links {
    margin-top: 50px;
  }
  .room-desc .room-links span {
    margin-top: -30px;
  }
  .blog-card .room-desc h1 {
    font-size: 20px;
  }
  .room-desc .room-links .read-more {
    font-size: 12px;
  }
}

/*Upload Moment*/
.moment-form {
  padding: 4rem 0;
  margin: 0 auto;
  box-sizing: border-box !important;
  position: relative;
}
.moment-form label {
  user-select: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: -4px;
}
.sr-only,
[type="checkbox"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.form-control.checkbox-wrapper {
  position: relative;
  justify-content: center;
}
.form-control.checkbox-wrapper input:checked + label::before {
  background: url("https://www.a11ymatters.com/assets/images/patterns/checkbox/checkmark.svg") center/12px no-repeat;
}
.form-control.checkbox-wrapper input:focus:not(:focus-visible) {
  outline: none;
}
.form-control.checkbox-wrapper input:checked + label::before,
.form-control.checkbox-wrapper input:checked + .moment-form a::before {
  background: var(--main-btn-color);
  border-color: var(--main-btn-color);
}
.form-control.checkbox-wrapper input:checked + label .path {
  stroke: #fff;
  stroke-dashoffset: 0;
}
.form-control.checkbox-wrapper svg input:checked + label::before,
.form-control.checkbox-wrapper svg input:checked + .moment-form a::before {
  background: var(--main-btn-color);
  border-color: var(--main-btn-color);
}
.form-control.checkbox-wrapper svg input:checked + label .path {
  stroke: #fff;
  stroke-dashoffset: 0;
}
.form-control.checkbox-wrapper label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  line-height: 1.5;
  transition: all 0.1s;
  padding-left: 40px;
}
.form-control.checkbox-wrapper label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 2px solid #c5c5c5;
  border-radius: 4px;
  margin: 1px 8px;
  vertical-align: baseline;
}
.moment-form a:hover {
  color: var(--main-btn-color);
}
.form-control.checkbox-wrapper label::before,
.moment-form a::before {
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
  height: 20px;
  transition: all 0.35s ease-out;
}
.form-control.checkbox-wrapper label svg {
  position: absolute;
  left: 13px;
  top: 4px;
  width: 15px;
  height: 15px;
}
.form-control.checkbox-wrapper label .path {
  stroke-dashoffset: 111.46px;
  stroke-dasharray: 111.46px;
  stroke: var(--main-btn-color);
  transition: all 0.1s ease-out;
}
[type="checkbox"] {
  appearance: none;
}
.moment-form a {
  text-decoration: underline;
  color: var(--txt-field-color);
}
.moment-form form {
  border: none;
}
.moments-box {
  background-color: var(--mainbg-color);
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.moment-desc textarea {
  resize: none;
  overflow-y: scroll;
  height: 180px;
  border-radius: 2px;
  border: 1px solid var(--heading-color);
  font-family: "Montserrat";
  color: var(--txt-field-color);
}
.moment-desc textarea:focus {
  outline: none;
  border: 2px solid var(--heading-color);
}
.moment-btns {
  margin: 10px 0px 80px 0px;
}
.mpost-btn {
  margin-top: 50px;
  float: right;
  padding: 4px 10px;
  border-radius: 5px;
  background: var(--main-btn-color);
  display: inline-block;
}
.post-btn {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  background: var(--main-btn-color);
  align-items: center;
  padding: 4px;
}
.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover,
.bounce-in-on-hover:focus,
.bounce-in-on-hover:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  box-shadow: 0 0 8px 4px rgba(27, 91, 101, 0.25) inset, 0 0 8px 4px rgba(27, 91, 101, 0.25);
}
.moment-photo {
  float: left;
}
.upload-container {
  padding: 2px;
  border-radius: 10px;
  position: absolute;
}
.drop-area {
  background: #eee;
  max-width: 80px;
  width: 100%;
  height: 80px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: #999;
  cursor: pointer;
  border: 2px dashed var(--txt-field-color);
  position: relative;
  overflow: hidden;
}
.image-txt {
  font-size: 8px;
  font-weight: 500;
}
.drop-area p span {
  font-weight: 600;
}
.thumbnail,
.img-name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.thumbnail {
  object-fit: cover;
  z-index: 100;
}
.img-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  opacity: 0;
  transition: all 0.3s ease;
}
.drop-area:hover .img-name {
  opacity: 1;
}

/* admin login */

.al-container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  border-radius: 10px;
}
.al-container .al-cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.al-container .al-cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #6b4f4f;
  opacity: 0.5;
  z-index: 12;
  border-radius: 0px 10px 10px 0px;
}
.al-container .al-cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
  border-radius: 0px 10px 10px 0px;
}
.al-container .al-forms {
  height: 100%;
  width: 100%;
  background: #fff;
}
.al-container .al-form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.al-form-content .alogin-form {
  width: calc(100% / 2 - 25px);
}
.al-forms .al-form-content .al-title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #483434;
}
.al-forms .al-form-content .al-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #6b4f4f;
}
.al-forms .al-form-content .al-input-boxes {
  margin-top: 30px;
}
.al-forms .al-form-content .al-input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.al-form-content .al-input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.al-form-content .al-input-box input:focus,
.al-form-content .al-input-box input:valid {
  border-color: #6b4f4f;
}
.al-form-content .al-input-box i {
  position: absolute;
  color: #6b4f4f;
  font-size: 17px;
}
.al-forms .al-form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.al-forms .al-form-content .text a {
  text-decoration: none;
}
.al-forms .al-form-content .text a:hover {
  text-decoration: underline;
}
.al-forms .al-form-content .button {
  color: #fff;
  margin-top: 40px;
}
.al-forms .al-form-content .button input {
  color: #fff;
  background: #6b4f4f;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.al-forms .al-form-content .button input:hover {
  background: #483434;
}
.al-forms .al-form-content label {
  color: #483434;
  cursor: pointer;
}
.al-forms .al-form-content label:hover {
  text-decoration: underline;
}
.al-forms .al-form-content .login-text,
.al-forms .al-form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
@media (max-width: 730px) {
  .al-container .al-cover {
    display: none;
  }
  .al-form-content .alogin-form,
  .al-form-content .signup-form {
    width: 100%;
  }
  .al-form-content .signup-form {
    display: none;
  }
}
.al-title {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  font-family: "Abril Fatface";
  color: #483434;
}

.al-body {
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f2e7;
  padding: 30px;
}

.al-logobod {
  background: #f9f2e7;
}

.al-logobod img {
  background: #f9f2e7;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -11%;
  margin-top: 3%;
}

/* Booking Status*/

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  margin-top: 40px;
  overflow-x: auto;
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

th {
  background-color: #6b4f4f;
  color: #f9f2e7;
}
tbody {
  background-color: #f9f2e7;
}
