/* text colors, buttons, flex items, columns, section header, flex grid  */

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}
.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex columns */

.small {
  width: 40%;
}

.big {
  width: 60%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* flex-basis: 100%;
  flex: 1; */
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding-left: 75px;
}

/* .flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/*navbar*/
.display-navbar{
  height: 70px;
}
.display-navbar iframe{
  width: 100%;
  height:500px;
  border: none;
}
.page-wrapper{
  width:100%;
  height:auto;
  z-index: 999;
  position: fixed;
  display: flex;
  transition: 0.6s;
  background:#f9f2e7;
  font-family: 'Lato', 'Arial', sans-serif;
}
.nav-wrapper{
  width:100%;
}
.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 70px;
  overflow: hidden;
}
.navbar img{
  height:70px;
  width:auto;
  justify-self: start;
  margin-left:60px;
}
.navbar ul{
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  margin-right: 60px;
  align-items: center;
  text-align: center;
}
.nav-item a{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.nav-item a:hover {
  color: #483434;
  font-weight: 800;
}
.nav-item a:active {
  padding: 8px 14px;
  color: #483434;
  border-bottom: 2px solid #1B5B65;
}
.book-btn{
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background: #1B5B65; 
  align-items: center;
}
.book-btn a{
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}
.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover, .bounce-in-on-hover:focus, .bounce-in-on-hover:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  box-shadow: 0 0 8px 4px rgba(27,91,101,0.25) inset, 0 0 8px 4px rgba(27,91,101,0.25);
}   
.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}
.menu-toggle:hover{
  cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 939px) {
  .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 70px;
      background-color: #f9f2e7;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
  }
  .navbar li {
      padding: 15px;
  }
  .navbar li:first-child {
      margin-top: 50px;
  }
  .navbar li a {
      font-size: 1rem;
  }
  .menu-toggle, .bar {
      display: block;
      cursor: pointer;
  }
  .mobile-nav {
      transform: translate(0%)!important;
  }
}
/* login, registration, forgotpw */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
  background-image: url("/images/Login.png");
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container1{
  color: #F9F2E7;
  width: 50%;
  float: left;
  font-family: "Abril Fatface";
  padding-left: 250px;
  display: flex;
  flex-wrap: wrap;
}
.headtext{
  font-family: "Abril Fatface";
  padding-top: 30px;
  font-size: 160px;
  margin-bottom: 0px;
}
.headtext2{
  font-family: "Abril Fatface";
  padding-top: 100px;
  font-size: 120px;
  margin-bottom: 0px;
}

.headtext3{
  font-family: "Abril Fatface";
  font-size: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.subtext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 5px;
}
.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}
.container2{
  padding-top: 170px;
  padding-left: 45px;
  position: relative;
  flex-direction: row;
  width: 50%;
  float: right;
}

.container3{
  padding-top: 90px;
  padding-left: 45px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  width: 50%;
  float: right;
  min-width: 50%;
}

.login-box{
  width: 450px;
  height: 350px;
  background: #F9F2E7;
  border-radius: 20px;
  text-align: center;
  padding-top: 35px;
}

.reg-box{
  width: 450px;
  height: 550px;
  background: #F9F2E7;
  border-radius: 20px;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 20%;
  min-width: 350px;
}

.reghere{
  height: 30px;
  background: #F9F2E7;
  color:#6B4F4F ;
  cursor:pointer;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
.reghere:hover{
  color: #F9F2E7;
  background:#6B4F4F;
}
input, select{
  width: 80%;
  padding: 18px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.blogin, .continuebtn{
  background:#6B4F4F;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor:pointer;
}
.cancelbtn{
  background:#BB9981;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor:pointer;
}

.blogin:hover, .cancelbtn:hover, .continuebtn:hover {
  background-color: #523A3A;
  color: white;
}
.forgotpw:hover{
  color: #523A3A;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.forgotpw{
  cursor:pointer;
  font-weight: bold;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color:#6B4F4F ;
}

.forgotpwtext{
  text-align: left;
  padding-left: 50px;
  font-family: "Abril Fatface";
  color: #6B4F4F;
}
/*FAQs*/
.faqs-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: url(/images/faqs-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
}
.faqs-header h1, .villas-header h1 {
  margin-left: 100px;
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-stroke {
  margin-top: -100px;
  overflow: hidden;
}
.faqs-txt {
  margin-top: -65px;
  background-color: #f9f2e7;
  padding: 150px;
  padding-right: 150px;
}
.accordion .accordion-item {
  border-bottom: 0.5px solid #6B4F4F;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #6B4F4F;
  font-size: 1.15rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #1B5B65;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #1B5B65;
  border: 1px solid #1B5B65;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: bold;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #1B5B65;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 14px;
  margin: 1em 0;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #6B4F4F;
  margin-right: 10px;;
  border-top: none;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .faqs-header h1 {
    margin-left: 70px;
  }
  .faqs-txt{
    padding: 80px;
    padding-right: 80px;
  }
}

/*Moments*/
body{
  overflow-x: hidden;
  width: 100%;
  font-family: arimo;
  color: #6c6c6c;
  font-size: 14px;
}
p
{
  color: #fff;
  font-family: 'oswald', sans-serif;
}
#service-provide{
  padding: 80px 0;
  color: #333;
}
#service-provide h2{
  color: #333;
}


.bodymoments {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 20%;
  background-color: #222;
}

.wrappermoments {
  width: 90%;
  max-width: 1300px;
  margin: 1rem auto;
}
.col-pic{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  text-align:center;
  padding-top: 6.5em;
  background: rgba(0, 0, 0, 0.43);


}
.col-pic p{
  color:#fff;
  font-size:1.1em;
  text-transform:uppercase;
  font-family: 'Oxygen-Bold';
}
.col-pic h5{
  color:#fff;
  font-size: 20px;
  text-transform:uppercase;
   font-family: 'roboto slab', sans-serif;
  letter-spacing: 0.25px;
}
.col-pic label{
  width:100px;
  height:2px;
  display:block;
  background:#fff;
  border-radius:10px;
  margin: 0.5em auto;
}

.col-3{
  position:relative;
  margin-bottom:1.5em;
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;

}
.col-3 a img
{
  -webkit-transition: all 2.4s ease-in-out;
  -moz-transition: all 2.4s ease-in-out;
  -ms-transition: all 2.4s ease-in-out;
  -o-transition: all 2.4s ease-in-out;
  transition: all 2.4s ease-in-out;
  height:320px;
  width:100%;


}

.col-3 a
{
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img-gridmoments {
  display: grid;
  justify-items: center;
  grid-gap: 0.6rem;
  
}
.imgmoments {
  max-width: 50%;
  padding: 0.2rem;
  border: 1px solid #555;
}

.padcol {
  padding-left:1px;
  padding-right:2px;
  margin-top: -17px;
}
.margright
{
  margin-right: -2px;
}


@media screen and (max-width: 1050px){
  .container2{
      grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px){
  form{
      width: 290px;
  }

  form h2{
      font-size: 2.4rem;
      margin: 8px;
  }

  .container1{
      width: 400px;
  }
}

@media screen and (max-width: 900px){
  .img{
      display: none;
  }

  .container{
      grid-template-columns: 1fr;
  }

  .wave{
      display: none;
  }

  .login-container{
      justify-content: center;
  }
}  


/*view villas*/

.blog-post__title h1 {
  font-size: 5rem;
  font-family: "Abril Fatface";
  margin: 1.5rem 0 2rem;
  color: #6B4F4F;
  font-weight: bold;
  position: relative;
  text-align: center;
}

  .inclu_head{
    font-weight: bold;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6B4F4F;
    font-style: italic;
  }

.inclu_content{
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color:#6B4F4F;
}

.inclu_icons{
  width:30px; 
  height: 30px;
}

.inclu_right{
  float:right; 
  padding-top:7px; 
  padding-left:5px; 
  padding-right:5px;
}

.villa_carousel {
  position: relative;
  width: 600px;
  height: 800px;
  min-width: 500px;
  margin:auto;
}


.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 700px;
  margin: auto;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-1:checked ~ .control-6,
#carousel-2:checked ~ .control-7,
#carousel-3:checked ~ .control-8,
#carousel-4:checked ~ .control-9,
#carousel-5:checked ~ .control-10 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
  color: #9DBBAE;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



.lightpart {
  background-color: #F9F2E7;
  padding-top: 100px;
  padding-bottom: 200px;
}

.darkpart{
  background-color: #BB9981;
  padding-top: 100px;
  padding-bottom: 100px;
  top:50px;
}


p {
 margin-bottom: 1rem;
}
#villawrapper {
 display: flex;
 align-items: center;
 height: 50vh;
 max-width: 45rem;
 margin: 0 auto;
 margin-bottom: 100px;
}
.v-tabs {
 width: 600px;
  height: 500px;
 background-color: white;
 border-radius: 0.5rem;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
 position: relative;
 margin:auto;
}
.v-tab-control {
 display: inline-block;
 border-bottom: 2px solid transparent;
 font-size: 1.25rem;
 padding: 0.6rem 1rem;
 cursor: pointer;
 transition: all 0.25s ease;
}
.v-tab-control:hover {
 color: white;
   background-color: #483434;
}
.v-tab-content {
 border-top: 1px solid #483434;
 padding: 1rem;
   line-height: 0;
   font-size: 12px;
}
.v-tab-panel {
 display: none;
}
/* Magic style */

#tab-1:checked ~ .v-tab-content #v-tab-panel-1 {
 display: block;
}
#tab-2:checked ~ .v-tab-content #v-tab-panel-2 {
 display: block;
}
#tab-3:checked ~ .v-tab-content #v-tab-panel-3 {
 display: block;
}

.v-tag {
background-color: #ccc;
color: #fff;
border-radius: 50px;
font-size: 12px;
margin: 0;
padding: 2px 10px;
text-transform: uppercase;
background-color: #9DBBAE;
}

.villas-header {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background: url(/images/villas.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  z-index: -1;
}
